<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<property name="CONSOLE_LOG_PATTERN" value="%date{ISO8601} [%t] %12X{RequestID} %5p %-40.40logger{39} %m%n%xEx" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- Loggar allting från tjänsten -->
	<logger name="se.sundsvall.messaging" additivity="false" level="INFO">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- payload-loggning -->
	<logger name="se.sundsvall.dept44.payload" additivity="false" level="TRACE">
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- Allting annat loggas på info-nivå -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>

